<% if @answer == 'Ragtime' %>
  <h1>Congratulations!</h1>
  <p><%= @answer %> is a musical genre that enjoyed its peak popularity between 1895 and 1918. Its cardinal trait is its syncopated, or "ragged", rhythm.</p>
  <embed src="https://www.youtube.com/embed/fPmruHc4S9Q?hl=ko_KR&amp;version=3&amp;vq=large&amp;autoplay=1&amp;loop=1&amp;showinfo=1&amp;controls=1&amp;rel=1&amp;playlist=1" width="0" height="0" allowscriptaccess="always" allowfullscreen="true"></embed>
<% else %>
  <h1>Keep on Trying!</h1>
<% end %>